node_modules
.env
.next
run-simulation-lambda/test_lambda.py

tsconfig.tsbuildinfo
run-simulation-lambda/src/Moon2Mars/__pycache__/S.cpython-312.pyc
run-simulation-lambda/src/__pycache__/main.cpython-312.pyc
run-simulation-lambda/src/__pycache__/main.cpython-312.pyc
run-simulation-lambda/src/Moon2Mars/__pycache__/S.cpython-312.pyc
