node_modules
.env
.next
run-simulation-lambda/test_lambda.py

tsconfig.tsbuildinfo
run-simulation-lambda/src/Moon2Mars/__pycache__/S.cpython-312.pyc
run-simulation-lambda/src/__pycache__/main.cpython-312.pyc
run-simulation-lambda/src/__pycache__/main.cpython-312.pyc
run-simulation-lambda/src/Moon2Mars/__pycache__/S.cpython-312.pyc
generate-report-lambda/src/__pycache__/supports.cpython-312.pyc
generate-report-lambda/src/__pycache__/Steel_fire.cpython-312.pyc
generate-report-lambda/src/__pycache__/plots_legacy_full.cpython-312.pyc
generate-report-lambda/src/__pycache__/plots.cpython-312.pyc
generate-report-lambda/src/__pycache__/main.cpython-312.pyc
generate-report-lambda/src/__pycache__/discretize.cpython-312.pyc
generate-report-lambda/src/__pycache__/create_report_full.cpython-312.pyc
generate-report-lambda/src/__pycache__/create_report.cpython-312.pyc
run-simulation-lambda/src/__pycache__/main.cpython-312.pyc
run-simulation-lambda/src/__pycache__/main.cpython-312.pyc
generate-report-lambda/src/__pycache__/create_report.cpython-312.pyc
generate-report-lambda/src/__pycache__/main.cpython-312.pyc
generate-report-lambda/src/__pycache__/plots.cpython-312.pyc
generate-report-lambda/src/__pycache__/plots.cpython-312.pyc
generate-report-lambda/src/__pycache__/main.cpython-312.pyc
generate-report-lambda/src/__pycache__/create_report.cpython-312.pyc
generate-report-lambda/src/__pycache__/create_report.cpython-312.pyc
generate-report-lambda/src/__pycache__/main.cpython-312.pyc
generate-report-lambda/src/__pycache__/plots.cpython-312.pyc
run-simulation-lambda/src/__pycache__/main.cpython-312.pyc
run-simulation-lambda/src/Moon2Mars/__pycache__/EC5.cpython-312.pyc
run-simulation-lambda/src/Moon2Mars/__pycache__/S.cpython-312.pyc
run-simulation-lambda/src/__pycache__/main.cpython-312.pyc
generate-report-lambda/src/__pycache__/create_report.cpython-312.pyc
generate-report-lambda/src/__pycache__/main.cpython-312.pyc
generate-report-lambda/src/__pycache__/plots.cpython-312.pyc
run-simulation-lambda/src/__pycache__/main.cpython-312.pyc
run-simulation-lambda/src/Moon2Mars/__pycache__/EC3.cpython-312.pyc
run-simulation-lambda/src/Moon2Mars/__pycache__/EC5.cpython-312.pyc
run-simulation-lambda/src/Moon2Mars/__pycache__/Frame_FEM.cpython-312.pyc
run-simulation-lambda/src/Moon2Mars/__pycache__/S.cpython-312.pyc
run-simulation-lambda/src/__pycache__/main.cpython-312.pyc
run-simulation-lambda/src/Moon2Mars/__pycache__/EC3.cpython-312.pyc
run-simulation-lambda/src/Moon2Mars/__pycache__/Frame_FEM.cpython-312.pyc
